<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    
    <script src="popup.js"></script>
  </head>
  <body>

    <div class="container">
  
      <h2>Ransomtect<small>DSTI Project</small></h2>
      

          
        <div class="group">      
          <input type="text" id="InputEmail1" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Email</label>
        </div>
        <input class="bootstrap-btn" id='issam' type="button" value="Save">

      
    </div>

    <script src="popup.js"></script>
  </body>

</html>